<template>
 <div class="entry-title d-flex justify-content-center-between p-2">
   <div>
    <span class="text-success fs-3 fw-bold">15</span>
    <span class="mx-1 fs-3 ">Julio</span>
    <span class="mx-2 fs-4 fw-light">2022, Jueves</span>
   </div>

    <div>
      <button class="btn btn-danger mx-2">
        borrar
        <i class="fa fa-trash-alt"></i>
      </button>

      <button class="btn btn-primary ">
        Subir foto
        <i class="fa fa-upload"></i>
      </button>
    </div>

 </div>

  <hr>

  <div class="d-flex flex-column px-3 h-75">
    <textarea name="" id="" cols="30" rows="10" placeholder="Que sucedio hoy?">

    </textarea>
  </div>

  <Fab icon="fa-save"/>

  <img src="https://freepikpsd.com/file/2019/10/imagenes-png-paisajes-1-Transparent-Images-Free.png" alt="entry-picture" class="img-thumbnail">

</template>

<script>
import {defineAsyncComponent} from "vue";

export default {
  name: "EntryView",
  components:{
    Fab: defineAsyncComponent( () => import('../components/Fab') )
  }
}
</script>

<style lang="scss" scoped>
  textarea{
    font-size: 20px;
    border: none;
    height: 100%;
    &:focus {
      outline: none;
    }
  }

  img{
    width: 200px ;
    position: fixed;
    bottom: 150px;
    right: 20px;
    box-shadow: 0px 5px 10px rgb( $color: #000000, $alpha: 0.2) ;
  }
</style>