<template>
  <navbar/>
  <div class="d-flex">
    <div class="col-4">
      <entrylist/>
    </div>

    <div class="col">
      <router-view/>
    </div>
  </div>
</template>

<script>
import {defineAsyncComponent} from "vue";

export default {
  name: "DayBookLayout",

  components:{
        navbar: defineAsyncComponent(() => import('../components/navbar')),
        entrylist: defineAsyncComponent(() => import('../components/EntryList'))
  }
}
</script>

<style scoped>

</style>